<!--Topside-->
<div class="container">
<div class="row mt-4">
<!--    <div class="col-md-4">-->
<!--      <div class="card">-->
<!--        <div class="card-header bg-info text-white">-->
<!--          Information-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <marquee behavior="" direction="">-->
<!--            <h3 class="my-4" >This is the Information Banner - number of orders - </h3>-->
<!--          </marquee>-->

<!--        </div>-->

<!--      </div>-->

    </div>
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header text-white">
         <h3 class="Stats_hdr">Statistics</h3>
        </div>
        <div id="card_row_css" class="card-body">
       <div class="row">
         <div class="col-md-3">
           <a class="text-decoration-none text-dark" href="">
             <div class="card my-card shadow text-center p-3">
               <h4>Users <i class="fa-solid fa-users"></i> </h4>
               <h3>{{ users_count }}</h3>
             </div>
           </a>
         </div>

        <div class="col-md-3">
          <a class="text-decoration-none text-dark" href="{% url 'core-core' %}">
            <div class="card my-card shadow text-center p-3">
              <h4><i class="fa-solid fa-car"></i> Assets <i class="fa-solid fa-truck"></i> </h4>
              <h3>{{ cores_count }}</h3>
            </div>
          </a>
        </div>
           <div class="col-md-3">
          <a class="text-decoration-none text-dark" href="{% url 'core-core_history_all' %}">
            <div class="card my-card shadow text-center p-3">
              <h4><i class="fa-solid fa-car"></i> Asset History <i class="fa-solid fa-box"></i> </h4>
              <h3>{{ history_count }}</h3>
            </div>
          </a>
        </div>
           <div class="col-md-3">
          <a class="text-decoration-none text-dark" href="{% url 'core-core_reminder_all' %}">
            <div class="card my-card shadow text-center p-3">
              <h4><i class="fa-solid fa-truck"></i> Reminders <i class="fa-solid fa-calendar"></i> </h4>
              <h3>{{ reminders_count }}</h3>
            </div>
          </a>
        </div>

       </div>

        </div>
      </div>
    </div>

</div>

</div>

<!--END Topside-->