


{% load crispy_forms_tags %}

{% load qr_code %}

{% block content %}

{% if user.is_authenticated %}

<!--Tables-->
<div class="container col-md-8 d-flex justify-content-center">
  <div class="row my-4 ">
<!--    <div class="col-md-2">-->


<!--    </div>-->
<!--    <div class="col-md-8 offset-2 display:flex ">-->
       <div class="col-md-10 d-flex justify-content-center ">
    <div class="card">
<!--       <div class="card-header bg-danger text-white">-->
      {% if  cores.impact == "Critical"  %}
         <div class="card-header bg-danger text-white">
<!--        <h1>Aggro</h1>-->
      {% elif cores.impact == "Medium"  %}
           <div class="card-header bg-warning text-white">
<!--         <h1>Mild</h1>-->
      {% else %}
             <div class="card-header bg-info text-white" >
<!--          <h1>Calm</h1>-->
             {% endif %}

               <h1 class="center"> {{ cores.name}} </h1>
       <h1 > Item Impact - {{ cores.impact }}</h1>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12 align-center ">
               <h3 >Information Card</h3>
            <hr>




            <div class="col-md-12 ">

                     <img src="{{ cores.main_img.url }}" class="img-responsive" style="width: 100%; float: center; " />
            </div>

<!--               <div class="lh-1 text-center">-->
<!--                    <img src="{% qr_url_from_text core.list size=5 version=1 image_format='png' %}" id="card-qr" alt="">-->
<!--&lt;!&ndash;                    <div class="text-center"><b>{{core.registration}}</b></div>&ndash;&gt;-->
<!--                </div>-->

<!--{% qr_from_text "Hello World!" size="m" image_format="png" error_correction="L" %}-->
<div class="col-md-12 ">
            <table class="table bg-white table-borderless">

              <tbody>
                <tr>
                  <th>Owner</th>
                  <td>{{ cores.owner }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Type</th>-->
<!--                  <td>{{ cores.type }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Name</th>
                  <td>{{ cores.name }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Sex</th>-->
<!--                  <td>{{ cores.sex }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Description</th>
                  <td>{{ cores.description }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Date of birth</th>-->
<!--                  <td>{{ cores.date_of_birth }}</td>-->

<!--                </tr>-->
<!--                             <tr>-->
<!--                  <th>Chip number</th>-->
<!--                  <td>{{ cores.chip_number }}</td>-->

<!--                </tr>-->
<!--                <tr>-->
<!--                  <th>Defining Marks</th>-->
<!--                  <td>{{ cores.defining_marks }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Impact</th>
                  <td>
                     {{ cores.impact }}  </td>

                </tr>
                <tr>
                  <th>Contact Number 1</th>
                  <td>{{ cores.contact_number1 }}</td>

                </tr>
               <tr>
                  <th>Contact Number 2</th>
                  <td>{{ cores.contact_number2 }}</td>

                </tr>
                <tr>
                  <th>Contact Email</th>
                  <td>{{ cores.contact_email }}</td>

                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{ cores.address }}</td>

                </tr>

              </tbody>
            </table>
    </div>
            <div class="col-md-12" id="qrcode">
<!--             <p>URL of this page: {{ request.build_absolute_uri }}</p>-->
<!--            <p>Site of this page: {{ site }}</p>-->

            <h1> "ID Card -" </h1>  {% qr_from_text  link  size=6 border=6 image_format='png' %}
             <h1> "Maintenance Card -" </h1>   {% qr_from_text  card_add_url  size=6 border=6 image_format='png' %}

            </div>

<!--              <div class="col-md-12" id="qrcode1">-->
<!--&lt;!&ndash;             <p>URL of this page: {{ request.build_absolute_uri }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Site of this page: {{ site }}</p>&ndash;&gt;-->

<!--              {% qr_from_text  card_add_url  size=6 border=6 image_format='png' %}-->

<!--            </div>-->


          </div>
<!--          <div class="col-md-10 align-center offset-1">-->
<!--              <div class="col-md-12 align-center">-->
<!--           <img class="img-thumbnail" src=' {% qr_from_text  link  size=50 border=6 %}' alt="">-->
<!--&lt;!&ndash;            <img class="img-thumbnail" src=" {{ user.profile.image.url }}" alt="">&ndash;&gt;-->
<!--          </div>-->


<!--    ##############################################################################################       -->
<!--            <a href=" " class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Save QR Code </a>-->
<!--            <div>-->
<!--                <p>-->
<!--         &lt;!&ndash; GFG is the name of the-->
<!--            file to be downloaded&ndash;&gt;-->
<!--         &lt;!&ndash; In order to run the code,-->
<!--            the location of the file-->
<!--            "geeksforgeeks.png" needs to-->
<!--            be changed to your local directory,-->
<!--            both the HTML and downloadable file-->
<!--            needs to be present in the same directory &ndash;&gt;-->
<!--&lt;!&ndash;         <a href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUgAAAFIAQAAAAAab1qeAAABWUlEQVR42u2aQZbCQAhEeXP/O6OT0FDRjV1ZzfhbjSbW6j+gaJLIT1egRIkSJUqUKP+WMs71PK3j+V1Xj/UTn65vVoZi/eV4oOxzQQ7PLZ5RFA+cGSlRCk+b5xmc9ROe9+OzgWYQn/fr5/GOPlA/XZ7j7/rC302e0z51DX1tuuC5WT8l0XNFa9k9PK18z+yP9KHwtPyoIjHaiYYwPI347NhcKS+WD899P6qW85L3Uz3hafSf2VeGLH5kxefaZspOM3OgwnM331fRnAKaF3uH5y7PFGPPTnt4uvkubb34EP2SuT+q1J7Os2MWnla/NEWzmyW9dQLPrXyfTF8B+gIcnt58KbpT0oYUnsY8pGZ0MfMlGdvBc3t/tHiuCiruDs9df+/S2TeOrxJ4GjxDaqi4PTxdnr2Ff5uVwNOon9KKrv/wozv+Pk+JdKDC0+8/eWoOJUqUKFGi/AfKB9e6R07w8lbPAAAAAElFTkSuQmCC' download="GFG">&ndash;&gt;-->
<!--         <a href={% qr_from_text  link  size=8 border=6 image_format="png" %}; download="GFGg">-->

<!--             <button type="button">Download</button>-->
<!--         </a>-->
<!--            </div>-->
<!--            ####################################################################################-->
        </div>
      </div>

    </div>

    </div>

  </div>

</div>
<!--End Tables-->
{% else %}
   <!--Tables-->
<div class="container col-md-8 d-flex justify-content-center">
  <div class="row my-4 ">
<!--    <div class="col-md-2">-->


<!--    </div>-->
<!--    <div class="col-md-8 offset-2 display:flex ">-->
       <div class="col-md-10 d-flex justify-content-center ">
    <div class="card">
<!--       <div class="card-header bg-danger text-white">-->
      {% if  cores.impact == "Critical"  %}
         <div class="card-header bg-danger text-white">
<!--        <h1>Aggro</h1>-->
      {% elif cores.impact == "Medium"  %}
           <div class="card-header bg-warning text-white">
<!--         <h1>Mild</h1>-->
      {% else %}
             <div class="card-header bg-info text-white" >
<!--          <h1>Calm</h1>-->
             {% endif %}

               <h1 class="center"> {{ cores.name}} </h1>
       <h1 > Item Impact - {{ cores.impact }}</h1>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12 align-center ">
               <h3 >Information Card</h3>
            <hr>




            <div class="col-md-12 ">

                     <img src="{{ cores.main_img.url }}" class="img-responsive" style="width: 100%; float: center; " />
            </div>

<!--               <div class="lh-1 text-center">-->
<!--                    <img src="{% qr_url_from_text core.list size=5 version=1 image_format='png' %}" id="card-qr" alt="">-->
<!--&lt;!&ndash;                    <div class="text-center"><b>{{core.registration}}</b></div>&ndash;&gt;-->
<!--                </div>-->

<!--{% qr_from_text "Hello World!" size="m" image_format="png" error_correction="L" %}-->
<div class="col-md-12 ">
            <table class="table bg-white table-borderless">

              <tbody>
                <tr>
                  <th>Owner</th>
                  <td>{{ cores.owner }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Type</th>-->
<!--                  <td>{{ cores.type }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Name</th>
                  <td>{{ cores.name }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Sex</th>-->
<!--                  <td>{{ cores.sex }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Description</th>
                  <td>{{ cores.description }}</td>

                </tr>
<!--                <tr>-->
<!--                  <th>Date of birth</th>-->
<!--                  <td>{{ cores.date_of_birth }}</td>-->

<!--                </tr>-->
<!--                             <tr>-->
<!--                  <th>Chip number</th>-->
<!--                  <td>{{ cores.chip_number }}</td>-->

<!--                </tr>-->
<!--                <tr>-->
<!--                  <th>Defining Marks</th>-->
<!--                  <td>{{ cores.defining_marks }}</td>-->

<!--                </tr>-->
                <tr>
                  <th>Impact</th>
                  <td>
                     {{ cores.impact }}  </td>

                </tr>
                <tr>
                  <th>Contact Number 1</th>
                  <td>{{ cores.contact_number1 }}</td>

                </tr>
               <tr>
                  <th>Contact Number 2</th>
                  <td>{{ cores.contact_number2 }}</td>

                </tr>
                <tr>
                  <th>Contact Email</th>
                  <td>{{ cores.contact_email }}</td>

                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{ cores.address }}</td>

                </tr>

              </tbody>
            </table>
<!--    </div>-->
<!--            <div class="col-md-12" id="qrcode">-->
<!--&lt;!&ndash;             <p>URL of this page: {{ request.build_absolute_uri }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Site of this page: {{ site }}</p>&ndash;&gt;-->

<!--              {% qr_from_text  link  size=6 border=6 image_format='png' %}-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-10 align-center offset-1">-->
<!--              <div class="col-md-12 align-center">-->
<!--           <img class="img-thumbnail" src=' {% qr_from_text  link  size=50 border=6 %}' alt="">-->
<!--&lt;!&ndash;            <img class="img-thumbnail" src=" {{ user.profile.image.url }}" alt="">&ndash;&gt;-->
<!--          </div>-->


<!--    ##############################################################################################       -->
<!--            <a href=" " class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Save QR Code </a>-->
<!--            <div>-->
<!--                <p>-->
<!--         &lt;!&ndash; GFG is the name of the-->
<!--            file to be downloaded&ndash;&gt;-->
<!--         &lt;!&ndash; In order to run the code,-->
<!--            the location of the file-->
<!--            "geeksforgeeks.png" needs to-->
<!--            be changed to your local directory,-->
<!--            both the HTML and downloadable file-->
<!--            needs to be present in the same directory &ndash;&gt;-->
<!--&lt;!&ndash;         <a href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUgAAAFIAQAAAAAab1qeAAABWUlEQVR42u2aQZbCQAhEeXP/O6OT0FDRjV1ZzfhbjSbW6j+gaJLIT1egRIkSJUqUKP+WMs71PK3j+V1Xj/UTn65vVoZi/eV4oOxzQQ7PLZ5RFA+cGSlRCk+b5xmc9ROe9+OzgWYQn/fr5/GOPlA/XZ7j7/rC302e0z51DX1tuuC5WT8l0XNFa9k9PK18z+yP9KHwtPyoIjHaiYYwPI347NhcKS+WD899P6qW85L3Uz3hafSf2VeGLH5kxefaZspOM3OgwnM331fRnAKaF3uH5y7PFGPPTnt4uvkubb34EP2SuT+q1J7Os2MWnla/NEWzmyW9dQLPrXyfTF8B+gIcnt58KbpT0oYUnsY8pGZ0MfMlGdvBc3t/tHiuCiruDs9df+/S2TeOrxJ4GjxDaqi4PTxdnr2Ff5uVwNOon9KKrv/wozv+Pk+JdKDC0+8/eWoOJUqUKFGi/AfKB9e6R07w8lbPAAAAAElFTkSuQmCC' download="GFG">&ndash;&gt;-->
<!--         <a href={% qr_from_text  link  size=8 border=6 image_format="png" %}; download="GFGg">-->

<!--             <button type="button">Download</button>-->
<!--         </a>-->
<!--            </div>-->
<!--            ####################################################################################-->
        </div>
      </div>

    </div>

    </div>

  </div>

</div>
{% endif %}
{% endblock %}