


{% load crispy_forms_tags %}

{% load qr_code %}

{% block content %}

<!--Tables-->
<div class="container col-md-8 d-flex justify-content-center">
  <div class="row my-4 ">
<!--    <div class="col-md-2">-->


<!--    </div>-->
<!--    <div class="col-md-8 offset-2 display:flex ">-->
      <div class="col-md-10 d-flex justify-content-center ">
    <div class="card">
<!--       <div class="card-header bg-danger text-white">-->
      {% if  cores.personality == "Aggressive"  %}
         <div class="card-header bg-danger text-white">
<!--        <h1>Aggro</h1>-->
      {% elif cores.personality == "Mild"  %}
           <div class="card-header bg-warning text-white">
<!--         <h1>Mild</h1>-->
      {% else %}
             <div class="card-header bg-info text-white">
<!--          <h1>Calm</h1>-->
             {% endif %}
               <h1 class="center"> {{ cores.name}} </h1>
       <h1> Pet Personality - {{ cores.personality }}</h1>
      </div>
      <div class="card-body ">
        <div class="row">
           <div class="col-md-12 align-center ">
            <h3 >Pet Information Card</h3>
            <hr>




             <div class="col-md-12 ">

                     <img src="{{ cores.main_img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
            </div>

<!--               <div class="lh-1 text-center">-->
<!--                    <img src="{% qr_url_from_text core.list size=5 version=1 image_format='png' %}" id="card-qr" alt="">-->
<!--&lt;!&ndash;                    <div class="text-center"><b>{{core.registration}}</b></div>&ndash;&gt;-->
<!--                </div>-->

<!--{% qr_from_text "Hello World!" size="m" image_format="png" error_correction="L" %}-->
<div class="col-md-12 ">
            <table class="table bg-white table-borderless">

              <tbody>
                <tr>
                  <th>Owner</th>
                  <td>{{ cores.owner }}</td>

                </tr>
                <tr>
                  <th>Type</th>
                  <td>{{ cores.type }}</td>

                </tr>
                <tr>
                  <th>Name</th>
                  <td>{{ cores.name }}</td>

                </tr>
                <tr>
                  <th>Sex</th>
                  <td>{{ cores.sex }}</td>

                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{ cores.description }}</td>

                </tr>
                <tr>
                  <th>Date of birth</th>
                  <td>{{ cores.date_of_birth }}</td>

                </tr>
                             <tr>
                  <th>Chip number</th>
                  <td>{{ cores.chip_number }}</td>

                </tr>
                <tr>
                  <th>Defining Marks</th>
                  <td>{{ cores.defining_marks }}</td>

                </tr>
                <tr>
                  <th>Personality</th>
                  <td>
                     {{ cores.personality }}  </td>

                </tr>
                <tr>
                  <th>Contact Number 1</th>
                  <td>{{ cores.contact_number1 }}</td>

                </tr>
               <tr>
                  <th>Contact Number 2</th>
                  <td>{{ cores.contact_number2 }}</td>

                </tr>
                <tr>
                  <th>Contact Email</th>
                  <td>{{ cores.contact_email }}</td>

                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{ cores.address }}</td>

                </tr>

              </tbody>
            </table>
    </div>
<!--            <div>-->
<!--             <p>URL of this page: {{ request.build_absolute_uri }}</p>-->
<!--            <p>Site of this page: {{ site }}</p>-->

<!--              {% qr_from_text  link  size=8 border=6 image_format='png' %}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-10 align-center offset-1">-->
<!--            <img class="img-thumbnail" src=' {% qr_from_text  link  size=50 border=6 %}' alt="">-->
<!--&lt;!&ndash;            <img class="img-thumbnail" src=" {{ user.profile.image.url }}" alt="">&ndash;&gt;-->
<!--          </div>-->
        </div>
      </div>

    </div>

    </div>

  </div>

</div>
<!--End Tables-->

{% endblock %}