
{% load crispy_forms_tags %}


{% block content %}

<!--    {% if user.is_authenticated and user.is_staff and user.is_superuser %}-->


<!--Tables-->
<div class="container">
  <div class="row my-4">
    <div class="col-md-4">
        {% for message in messages %}
        {% if message %}
        <div class="alert alert-{{ message.tags}}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
<div class="border bg-white p-3">
<h4>Add Event</h4>
<hr>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
   {{ form1|crispy }}



  <input class="btn btn-success btn-block" type="submit" value="Add Event">
</form>
 {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
</div>
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <table class="table caption-top bg-white">-->
<!--        <caption>core History</caption>-->
<!--        <thead class="bg-info">-->
<!--          <tr class="text-white">-->
<!--            <th scope="col">#</th>-->
<!--              <th scope="col">ID</th>-->
<!--              <th scope="col">Owner</th>-->
<!--            <th scope="col">Name</th>-->
<!--              <th scope="col">Descriptione</th>-->
<!--            <th scope="col">File</th>-->
<!--&lt;!&ndash;            <th scope="col">Event Desc</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">File</th>&ndash;&gt;-->
<!--&lt;!&ndash;              <th scope="col">Mileage</th>&ndash;&gt;-->
<!--&lt;!&ndash;              <th scope="col">Photo</th>&ndash;&gt;-->
<!--              <th scope="col">Action</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {% for core in core_history %}-->

<!--          <tr>-->
<!--            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>-->

<!--              <td>{{ core.id }}</td>-->
<!--              <td>{{ core.core_id }}</td>-->
<!--              <td>{{ core.core.owner }}</td>-->
<!--            <td>{{ core.core.name }}</td>-->
<!--            <td>{{ core.event_desc }}</td>-->
<!--            <td>{{ core.file }}</td>-->
<!--&lt;!&ndash;              <td>{{ core.core_history.id }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;              <td>{{ core.registration }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;              <td>{{ core.mileage }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;              <td>{{ core.main_img }}</td>&ndash;&gt;-->
<!--            <td>-->
<!--              <a class="btn btn-info btn-sm" href="{% url 'core-core_history' core.core_id %}">Edit</a>-->
<!--&lt;!&ndash;              <a class="btn btn-danger btn-sm" href="{% url 'core-core_delete' core.id %}">Delete</a>&ndash;&gt;-->
<!--            </td>-->
<!--          </tr>-->

<!--        {% endfor %}-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<!--End Tables-->
    {% else %}

<!--{% include 'core/core_history_user.html' %}-->

<!--    {% endif %}-->


{% endblock %}