    {% extends 'partials/base.html' %}
    {% block title %}Home Page {% endblock %}

    {% block content %}

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    {% include 'partials/topnav.html' %}


    <main role="main">

<!--      <section class="jumbotron text-center">-->
<!--        <div class="container">-->
<!--          <h1 class="jumbotron-heading">Album example</h1>-->
<!--          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>-->
<!--          <p>-->
<!--            <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--            <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--          </p>-->
<!--        </div>-->
<!--      </section>-->

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              {% for core in cores %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <h1>{{ core.name }} - {{ core.owner }}</h1>
<!--                  <img src="{{ core.main_img.url }}" class="img-responsive img-thumbnail"  style="width: 50px  height: 50px ; float: left; margin-right: 10px;" />-->
                  <img src="{{ core.main_img.url }}" class="card-img-top img-thumbnail" alt="Card image cap"/>
                <div class="card-body">
                  <p class="card-text">{{ core.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'core-core_detail_card' core.id %}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">View </a>
                        <a href="{% url 'core-core_history' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">History </a>
                        <a href="{% url 'core-core_history_add' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add history </a>
                        <a href="{% url 'core-core_reminder' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Reminders </a>
                        <a href="{% url 'core-core_reminder_add' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add Reminder </a>

                    </div>
<!--                      <div>-->
<!--                          <a href="{% url 'core-core_history' core.id %}" class="btn btn-sm btn-danger btn-outline-secondary" role="button" aria-pressed="true">Delete </a>-->
<!--                      </div>-->
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
       </div>

    </main>

    {% else %}

{% include 'core/index_user.html' %}

    {% endif %}
    {% endblock %}