


    {% block content %}






    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Pet Album</h1>
          <p class="lead text-muted">See an album of all your pets below. You can view each one individually, see their medical history, or capture a new item. Add your pet now.</p>
          <p>
            <a href="{% url 'core-core' %}" class="btn btn-primary my-2">Capture your pets details</a>
            <a href="#" class="btn btn-secondary my-2">See Pet Data </a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              {% for core in cores %}
              {% if core.owner == user %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <h1>{{ core.name }}</h1>
                  <img src="{{ core.main_img.url }}" class="img-responsive img-thumbnail" style="width: 100% height:100%; float: left; margin-right: 10px;" />
<!--                  <img class="card-img-top" data-src="{{ 'core.main_img.url' }}" alt="Card image cap">-->
                <div class="card-body">
                  <p class="card-text">{{ core.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'core-core_detail' core.id %}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">View </a>
                        <a href="{% url 'core-core_history' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">History </a>
                        <a href="{% url 'core-core_history_add' core.id %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Add history </a>

                    </div>
                      <div>
                          <a href="{% url 'core-core_history' core.id %}" class="btn btn-sm btn-danger btn-outline-secondary" role="button" aria-pressed="true">Delete </a>
                      </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
              {% endif %}
          {% endfor %}
       </div>

    </main>

    {% endblock %}